.page {
    overflow-x: auto;
    height: calc(100% - 141px);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    /* paddingLeft: 50,
    paddingRight: 50,
    paddingBottom: 25, */
}